<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72213017169-r3edqc86ldk8odrih29u63herinq595e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72213017169-r3edqc86ldk8odrih29u63herinq595e</string>
	<key>API_KEY</key>
	<string>AIzaSyC4Nti1wnt9KHGV6F6kIFNWlSGP3SPy7Zs</string>
	<key>GCM_SENDER_ID</key>
	<string>72213017169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuth.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-auth-6df60</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-auth-6df60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72213017169:ios:f261ef32ea085533d07e70</string>
</dict>
</plist>